.card {
  padding: 1.5rem;
  background-color: #fff;
  margin: 2rem 0;
  border-radius: 0;
  box-shadow: 10px 10px #ededed;
}

h3 {
  color: #1e90ff;
  border-bottom: 2px solid #1e90ff;
  width: fit-content;
  margin-bottom: 2rem;
}

h3::before {
  content: "#";
  margin-right: 0.5rem;
}
